.loginbody {
  background-image: url("../../assets/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: "Teko";
  font-size: 24px;}
  .loginContainer {
    min-width: 400px;
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
    background-color: #333;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    float: left; /* Align to the left */
    clear: both; /* Clear floats */
    margin-left: 200px;
    margin-top: 100px;
    font-size: 30px;
  }

  
  .register-heading {
    text-align: center;
    margin-bottom: 10px;
    font-size: 24px;
    color: #fff;
  }
  
  .register-form .form-group {
    margin-bottom: 20px;
  }
  
  .label {
    display: block;
    font-weight: bold;
    font-size: 14px; /* Adjust the font size */
    color: #fff;
  }

  h2{
    display: block;
    font-weight: bold;
    font-size: 30px; /* Adjust the font size */
    color: #fff;
  }

  .inputContainer input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  .login_button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d21e2e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top:20px;
  }
  