
body {
  background-image: url("../../assets/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* font-family: "Teko"; */
  font-size: 24px;
}

.register-container {
    min-width: 600px;
    margin: 50px;
    padding: 50px;
    border-radius: 10px;
    background-color: #333;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    float: left;
    color: white;
    margin-left: 200px;
  }
  

  
  .register-heading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    color: #fff;
  }
  
  .register-form .form-group {
    margin-bottom: 20px;
  }
  
  .label {
    display: block;
    font-weight: bold;
    font-size: 14px; /* Adjust the font size */
    color: #fff;
  }
  
  .input-field {
    width: calc(100% - 20px); /* Adjust width to be slightly smaller than 100% */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #777;
    background-color: #444;
    color: #fff;
    transition: border-color 0.3s ease, background-color 0.3s ease;
  }
  
  .input-field:focus {
    border-color: #007bff;
    background-color: #555;
    outline: none;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d21e2e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #a61722;
  }
  
  