



.productPageContainer {
  /* background-image: url('../../assets/logo.png');  */
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 110px;

}

.product-wrapper {
  background-color: #022e0b;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  
}

.error-message {
  color: red;
  font-size: 18px;
  font-style: italic;
  text-align: center;
}

.product-name {
  font-size: 30px;
  color:white; /* White text */

  font-weight: bold;
}

.product-description {
  margin-top: 10px;
}

.product-price {
  margin-top: 10px;
}

.product-category {
  margin-top: 10px;
}

.product-production-year {
  margin-top: 10px;
}

.product-container {
  background-color: #022e0b; 
  color:white; /* White text */
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  max-width: 1000px;

} 

.btn-danger {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 20px;
}

.btn-danger:hover {
  background-color: #baf4c6;
  color: white;
  transform: scale(1.05);
}

.btn-danger:active {
  background-color: #bd2130;
  transform: scale(1);
}