

body {
  /* background-image: url('src\assets\logo.png'); */
  /* background-image: url('../../assets/logo.png'); */
  /* background: linear-gradient(to bottom, navy, rgba(0, 0, 128, 0.7)); */
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.product-wrapper {
  background-color: rgba(255, 255, 255, 0.8); 
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
}

.error-message {
  color: red;
  font-size: 18px;
  font-style: italic;
  text-align: center;
}

.product-name {
  font-size: 24px;
  font-weight: bold;
}

.product-description {
  margin-top: 10px;
}

.product-price {
  margin-top: 10px;
}

.product-category {
  margin-top: 10px;
}

.product-production-year {
  margin-top: 10px;
}

.product-container {
  background-color: rgba(255, 255, 255, 0.8); 
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
} 

.btn-danger {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 20px;
}

.btn-danger:hover {
  background-color: #c82333;
  transform: scale(1.05);
}

.btn-danger:active {
  background-color: #bd2130;
  transform: scale(1);
}